.timer {
  font-size: 30px;
  font-weight: bold;
  display: block;
  margin-bottom: 150px;
  
}

.timer p {
  margin-left: 205px;
}

.timer_screen {
  margin-left: 100px;
  margin-top: 30px;

  position: absolute;

  font-size: 50px;
}

.timer span {
  margin-left: 40px;
}